@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');


*{
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    color: #222;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.wrapper {
    width: 1280px;
    margin: 50px auto;
}

header {
    position: relative;
}

header  .logo {
    font-weight: 600;
    font-size: 20px;
}


header ul.nav {
    float: right;
    list-style: none;
}

header ul.nav li {
    display: inline;
    margin-left: 25px;
    cursor: pointer;
    transition: opacity 500ms ease;
}

header ul.nav li:hover {
    opacity: 0.5;
}

header .shop-cart-button {
    float: right;
    cursor: pointer;
    transition: color, transform,   500ms ease;
    font-size: 18px;
    margin-right: 5px;
    border: solid 2px rgb(165, 159, 159);
    border-radius: 50%;
    padding: 10px;
    transform: translateY(-12px)
   
}

header .shop-cart-button:hover,
.shop-cart-button.active {
    border: solid 2px #333;
    border-radius: 50%;
    padding: 10px;
    margin-top: 1px;
    transform: translateY(-5px) scale(1.2);

}


header .shop-cart {
    position: absolute;
    top: 30px;
    right: 0;
    width: 450px;
    background: rgba( 255, 255, 255, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    -webkit-box-shadow: 4px 10px 26px -4px rgba(0,0,0,0.51); 
    box-shadow: 4px 10px 26px -4px rgba(0,0,0,0.51);
    z-index: 100;
    border-radius: 16px;
    padding: 15px;
    padding-bottom: 0;
   

}

header .shop-cart .item {
    width: 100%;
    margin-bottom: 15px;
    float: left;
    transition: all .7s;
    border-radius: 16px;
    padding: 5px;

    
    /* // */

    

    
    
    

    
    
}

header .shop-cart .empty h2 {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 300;
    text-align: center;
}

header .shop-cart .item:hover {
    background: #e2dfdf;
    border-radius: 16px;
    transform: scale(1.05);
}

header .shop-cart .item img {
    width: 70px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 16px;
}

header .shop-cart .item h2{
    font-size: 17px;
    margin-bottom: 10px;
    font-weight: 300;

}

header .shop-cart .item b {
    color: #797979;
    font-weight: 600;
}

header .shop-cart .item .delete-icon {
    color:  #797979;
    float: right;
    font-size: 35px;
    transition: transform 500ms ease;
    position: relative;
    top: -10px;
    right: 15px;
    

}

header .shop-cart .item .delete-icon:hover {
    background:  #D11A2A;
    opacity: 0.8;
    border-radius: 50%;
    transform: scale(1.1);
    color: #fff;
    
    
}


header .presenation {
    margin: 50px 0 ;
    background: url("./img/bruh2.jpeg") no-repeat;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center center;
    background-blend-mode: #bcbcbc;
    position: relative;
}

header .presenation::after {
    content: "Only best for your home";
    position: absolute;
    top: 100px;
    left: 50px;
    width: 300px;
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}



header .presenation::before {
    content: "We are Modern Together, helping to make life brighter, more creative, more inviting.";
    position: absolute;
    top: 210px;
    left: 50px;
    width: 300px;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
}

main {
   display: flex;
   width: 100%;
   flex-wrap: wrap;
   justify-content: space-between; 
}

main .item {
    width: 30%;
    margin-bottom: 50px;
    background: #f5f5f5;
    overflow: hidden;
    position: relative;
    padding-bottom: 20px;

}

main .item img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    transition: transform 500ms ease;
}
main .item img:hover {
    transform: scale(1.05);
}

main h2, main p, main b {
    margin: 10px 20px;
    color: #333;
}

main b {
    color: rgb(120, 115, 115);
    font-weight: 300;
}

main .add-to-cart {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: #ca5252;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 600;
    transition: transform 500ms ease;
}

main .add-to-cart:hover {
    transform: scale(1.05) translateY(-5px);
}
footer {
    text-align: center;
    margin-top: 100px;
}